# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore dependencies
/frontend/fundraising_system/node_modules
/frontend/fundraising_system/.pnp
/frontend/fundraising_system/.pnp.js

# Ignore testing-related files
/frontend/fundraising_system/coverage

# Ignore production build
/frontend/fundraising_system/build

# Miscellaneous files
.DS_Store
/frontend/fundraising_system/.env.local
/frontend/fundraising_system/.env.development.local
/frontend/fundraising_system/.env.test.local
/frontend/fundraising_system/.env.production.local

# Ignore debug logs
/frontend/fundraising_system/npm-debug.log*
/frontend/fundraising_system/yarn-debug.log*
/frontend/fundraising_system/yarn-error.log*

# Ignore SQL folder
/sqlfolder

# Ignore Vite-related folders
/vite
/fdbms-vite

/backend/fundraising_system/.env
.vscode