.payment-container {
    background-color: #72b7b24e;
    color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
    border-top: 5px solid orange;
}

h1 {
    color: white;
}

p {
    color: rgb(190, 189, 189);
}

.payment-details {
    text-align: left;
    margin-top: 20px;
    background: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    color: black;
}



.btn:hover {
    opacity: 0.9;
}
